@tailwind base;
@tailwind components;
@tailwind utilities;

.playerMaxCount {
    position: relative;
    border-radius: 50%;
    width: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 12px;
    height: 10px;
    background-color: #8A2BE2;
    top: -8px;
    left: 10px;
    z-index: 1;
    font-size: 14px;
}

/* 50px = height for TopBar */
:root {
  --topbar-height: 50px;
}
.h-vh-fullScreen {
  height: calc(100vh - var(--topbar-height));
}

.myScrollbar {
  overflow-y: scroll;
  scrollbar-color: #374151 #6b7280;
  scrollbar-width: thin;
}

/* animate for numbers */
@keyframes animate-pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.my-animate-pulse {
  animation: animate-pulse 1.5s infinite;
}

/* animate for cards */
@keyframes deal-card {
  0% {
    transform: translate(-1000px, -1000px) scale(0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

.my-animate-deal-card {
  animation: deal-card 0.5s ease-out forwards;
}

@media (max-width: 768px) {
  .player-1, .player-2, .player-3, .player-4, .player-5,
  .player-6, .player-7, .player-8, .player-9, .player-10 {
    transform: scale(0.8);
  }
}

@media (max-width: 480px) {
  .player-1, .player-2, .player-3, .player-4, .player-5,
  .player-6, .player-7, .player-8, .player-9, .player-10 {
    transform: scale(0.6);
  }
}